@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Sorts+Mill+Goudy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
  color: white;
}

.L2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -33%);
  width: 1000px;
  height: 1000px;
  margin: 20px;
  display: inline-block;
  z-index: -1;
  opacity: 0.1;
}

.deco_top_right .L3 {
  position: fixed;
  display: inline-block;
  margin: 20px;
  opacity: 0.6;
}
.deco_top_right .s1 {
  width: 100px;
  height: 100px;
  top: 10%;
  right: 10%;
  z-index: 2;
}
.deco_top_right .s2 {
  width: 75px;
  height: 75px;
  top: 6%;
  right: 17%;
  z-index: 1;
}
.deco_top_right .s3 {
  width: 45px;
  height: 45px;
  top: 23%;
  right: 13%;
  z-index: 0;
}

.deco .L3 {
  position: fixed;
  display: inline-block;
  margin: 20px;
  opacity: 0.6;
}
.deco .s1 {
  width: 100px;
  height: 100px;
  top: 10%;
  right: 10%;
  z-index: 2;
}
.deco .s2 {
  width: 75px;
  height: 75px;
  top: 6%;
  right: 17%;
  z-index: 1;
}
.deco .s3 {
  width: 45px;
  height: 45px;
  top: 23%;
  right: 13%;
  z-index: 0;
}
.deco .s1_2 {
  width: 100px;
  height: 100px;
  bottom: 10%;
  left: 10%;
  z-index: 2;
}
.deco .s2_2 {
  width: 75px;
  height: 75px;
  bottom: 6%;
  left: 17%;
  z-index: 1;
}
.deco .s3_2 {
  width: 45px;
  height: 45px;
  bottom: 23%;
  left: 13%;
  z-index: 0;
}

.wrapper {
  padding: 30px 50px;
}
.wrapper header {
  position: relative;
  display: flex;
}
.wrapper header .logo {
  display: flex;
}
.wrapper header .logo .HniM {
  animation: glitch 1s linear infinite;
  font-size: 120%;
}
@keyframes glitch {
  2%, 64% {
    transform: translate(2px, 0) skew(0deg);
  }
  4%, 60% {
    transform: translate(-2px, 0) skew(0deg);
  }
  62% {
    transform: translate(0, 0) skew(5deg);
  }
}
.wrapper header .logo .HniM:before,
.wrapper header .logo .HniM:after {
  content: attr(title);
  position: absolute;
  left: 0;
}
.wrapper header .logo .HniM:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}
@keyframes glitchTop {
  2%, 64% {
    transform: translate(2px, -2px);
  }
  4%, 60% {
    transform: translate(-2px, 2px);
  }
  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}
.wrapper header .logo .HniM:after {
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}
@keyframes glitchBotom {
  2%, 64% {
    transform: translate(-2px, 0);
  }
  4%, 60% {
    transform: translate(-2px, 0);
  }
  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}
.wrapper header .logo i {
  transform: rotate(105deg) translate(5px, 5px);
}
.wrapper header .mail {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  opacity: 0.7;
}
.wrapper header .tab_menu {
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper .main {
  margin-top: 200px;
}
.wrapper .main .main_top {
  position: relative;
  display: flex;
}
.wrapper .main .main_top .main_left h1 {
  font-family: "Sorts Mill Goudy";
}
.wrapper .main .main_top .main_left h1 span {
  color: #ffcbc0;
}
.wrapper .main .main_top .main_left h2 {
  font-family: sans-serif;
  margin-top: 20px;
  margin-bottom: 80px;
  opacity: 0.9;
}
.wrapper .main .main_top .main_left .main_btn_hire {
  border: none;
  outline: none;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FF8F7A;
  cursor: pointer;
}
.wrapper .main .main_top .main_left .main_btn_hire span {
  font-weight: 800;
  margin-right: 5px;
  color: white;
  margin: 10px;
}
.wrapper .main .main_top .main_left .main_btn_hire .btn_hire_login {
  background-color: #f36c54;
  color: white;
  border: none;
  margin-right: 10px;
}
.wrapper .main .main_top .main_left .main_btn_hire:hover {
  transform: scale(1.03);
}
.wrapper .main .main_top img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 800px;
}
.wrapper .main .main_top .main_right {
  position: fixed;
  margin-left: 880px;
  margin-right: 50px;
}
.wrapper .main .main_top .main_right h2 {
  color: #ffcbc0;
  margin-bottom: 30px;
}
.wrapper .main .main_top .main_right h3 {
  margin-bottom: 30px;
}
.wrapper .main .main_top .main_right h3 p {
  font-size: 120%;
  opacity: 0.8;
}
.wrapper .main .main_top .main_right h3 span {
  font-weight: lighter;
  opacity: 0.5;
}
.wrapper .main .main_top .main_right a {
  text-decoration: none;
  color: #FF8F7A;
}
.wrapper .main .main_top .main_right a i {
  font-weight: 800;
  font-size: 110%;
}
.wrapper .main .main_top .main_right a .dow_nav {
  width: 113px;
  height: 2px;
  background-color: #FF8F7A;
}
.wrapper .main .main_bot {
  position: fixed;
  display: flex;
  bottom: 30px;
}
.wrapper .main .main_bot ul li {
  display: flex;
  list-style: none;
  margin-top: 10px;
}
.wrapper .main .main_bot ul li:hover {
  transition: 0.3s ease;
  font-size: 105%;
}
.wrapper .main .main_bot ul li i {
  font-size: 150%;
  cursor: pointer;
  color: white;
  font-weight: 110%;
}
.wrapper .main .main_bot ul li button {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ffcbc0;
  border: none;
  outline: none;
  transform: translateX(-5px);
}
.wrapper .main .main_bot ul li .btn_twitt {
  transform: translate(-5px, 17px);
}
.wrapper .main .main_bot ul li .btn_mail {
  transform: translate(-1px, 18px);
}
.wrapper .main .main_bot ul li .btn_git {
  transform: translate(-5px, 18px);
}
.wrapper .main .main_bot .main_chat {
  position: fixed;
  display: flex;
  bottom: 30px;
  right: 50px;
}
.wrapper .main .main_bot .main_chat i {
  margin-left: 5px;
  transform: translate(0, -5px);
  cursor: pointer;
}
.wrapper .main .main_bot .main_chat i:hover {
  font-size: 110%;
}/*# sourceMappingURL=text2.css.map */